.ui.section.import
  %form.ui.form.large.user.centered{action: @action, method: 'post'}
    .field
      %label{name: 'description'}
        Description
      .ui.search.places
        .ui.large.icon.input
          %input.prompt{type: 'text', name: 'description', value: @description}
          %i.icon.link
    .field#projectSelect
      %label{name: 'project'}
        Project
      %select{name: 'project'}
        - @projects.each do |project|
          %option{value: project, selected: @project == project}
            = project
      %span.field-divider
        or
      %span.ui.checkbox
        %input{type: 'checkbox', onclick: "firmInputToggle();"}
        %label
          Start New Project
    .field#newProject{disabled: true, style: "display: none"}
      %label{name: 'project', disabled: true, style: "display: none"}
        Project Name
      %input{type: 'text', name: 'project', disabled: true, style: "display: none"}

    .field
      %label{name: 'priority'}
        Priority
      %select{name: 'priority'}
        - @priorities.each do |key, value|
          %option{value: key, selected: @priority == key}
            = value
    .field
      %label{name: 'price'}
        Price
      %input{type: 'text', name: 'price', value: @price}
    %input.ui.positive.button.huge{type: 'submit', value: @submit}
:javascript
  $('.ui.search').search({
    source:  JSON.parse('#{@shopping_items}'),
      onSelect: function(result) {
        $('input[name="description"]').val(result.title)
        $('input[name="price"]').val(result.price)
        $('select[name="project"]').val(result.project)
      },
    minCharacters : 1
  });
