.ui.section.import
  %table.ui.very.basic.celled.table
    %tbody
      %h3.ui.header.centered
        Recent Tasks
      - @tasks.each do |task|
        %tr
          %td
            Test
          %td
            = task.description
          %td
            = task.project
          %td.centered
            = task.urgency
          %td.centered
            - date = task.due
            = date.strftime('%m/%d/%Y') if date
            -# %i.cog.large.blue.icon

