.ui.section.import
  .ui.middle.aligned.divided.list
    - @items.each do |item|
      .item
        .content
          .left.floated
            %a{href: '/tasks?project=' + item}
              %h4.inline
                = item
          .right.floated
            - item = nil if item == 'Unassigned'
            = "Tasks(#{@tw.some(dom: {project: item}).count})"




