- new ||= nil
.row
  .column
    .row-header
      .ui.header.inline
        %h2.inline
          = @header
      - if new
        %a.ui.positive.button.large.right-float{href: new[:href]}
          %i.plus.icon
          = new[:name]
      .ui.divider
    = content

